
/*
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
*/

body {
	margin: 0;
	padding: 0;
	background: #035F8B url(images/img01.png) repeat;
	font-family: 'Abel', sans-serif;
	font-size: 15px;
	color: #8F8F8F;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Abel', sans-serif;
	font-weight: 200;
	color: #222222;
}

p, ol, ul {
	margin: 0px;
	padding: 0px;
}

p, ol {
	line-height: 180%;
}

strong {
}

a {
	color: #C567A9;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

/** WRAPPER */

#wrapper {
}

.container {
	width: 1000px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/* Header */

#header-wrapper {
	overflow: hidden;
	height: 80px;
}

#header {
	width: 1000px;
	height: 80px;
	margin: 0 auto;
	padding: 0px 0px;
}

/* Logo */

#logo {
	float: left;
	width: 300px;
	height: 80px;
	margin: 0px;
	padding: 0px;
}

#logo h1 {
	padding: 8px 0px 0px 0px;
	line-height: 80px;
	letter-spacing: -2px;
	font-size: 2.6em;
}

#logo h1 a {
	text-decoration: none;
	color: #FFE0EF;
}

/* Menu */

#menu {
	float: right;
	width: 650px;
	height: 80px;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	height: 80px;
	margin-left: 1px;
	padding: 0px 5px 0px 5px;
	line-height: 80px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #FFE1EF;
}

#menu a:hover, #menu .current_page_item a {
	background: #DF80C3;
	text-decoration: none;
	color: #FFE1EF;
}

/* Page */

#page-wrapper {
	overflow: hidden;
	background: #F1F2E9;
}

#page {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 50px 0px;
	color: #8F8F8F;
}

/** CONTENT */

#content {
	float: left;
	width: 620px;
	padding: 0px 30px 0px 0px;
}

#content h2 {
	padding: 0px 0px 30px 0px;
	letter-spacing: -1px;
	font-size: 36px;
	color: #222222;
}

#content .subtitle {
	padding: 0px 0px 30px 0px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: #81AFC5;
}


/** SIDEBAR */

#sidebar {
	float: right;
	width: 290px;
	padding: 0px 30px 20px 30px;
}

#sidebar h2 {
	padding: 0px 0px 30px 0px;
	letter-spacing: -1px;
	font-size: 2em;
}

/* Footer */

#footer {
	height: 100px;
	margin: 0 auto;
	padding: 50px 0px 15px 0px;
	font-family: 'Abel', sans-serif;
}

#footer p {
	margin: 0;
	letter-spacing: 1px;
	line-height: normal;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #FFE0EF;
}

#footer a {
	color: #FFE0EF;
}

/* Three Column Footer Content */

#footer-wrapper {
	background: #FFFFFF;
}

#footer-content {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	color: #717171;
}

#footer-content a {
}

#footer-content h2 {
	margin: 0px;
	padding: 0px 0px 30px 0px;
	letter-spacing: -1px;
	font-size: 26px;
	color: #B5B5B5;
}

#footer-content h2 span {
	color: #303030;
}


#footer-content #fbox1 {
	float: left;
	width: 320px;
	margin-right: 20px;
}

#footer-content #fbox2 {
	float: left;
	width: 320px;
}

#footer-content #fbox3 {
	float: right;
	width: 320px;
}

/* Banner Style */

#banner-wrapper {
	overflow: hidden;
	height: 345px;
	padding: 40px 0px;
	background: url(images/img03.png) repeat;
}

#banner {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
}

/* Button Style */

.button-style {
	display: inline-block;
	margin-top: 30px;
	padding: 7px 30px;
	background: #C567A9 url(images/img01.png) repeat;
	border-radius: 5px;
}

.button-style a {
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #FFFFFF;
}

/* List Style */

ul.style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style1 li {
	padding: 20px 0px 20px 0px;
	border-top: 1px dashed #E6E7DC;
}

ul.style1 a {
	text-decoration: none;
	color: #6B6B6B;
}

ul.style1 a:hover {
	text-decoration: underline;
	color: #6B6B6B;
}

ul.style1 .first {
	padding-top: 0px;
	border-top: none;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10;
  transform: scale(0.9);
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
}

.slide:first-child {
  
}

.slide:nth-child(2) {
  
}

.slide:last-child {
  
}

.showing {
  z-index: 1;
  transform: none;
  opacity: 1;
}

/*********************************************************************************/
/* Form                                                                          */
/*********************************************************************************/

	form {
		margin: 0 0 2.25em 0;
	}

	label {
		color: #777;
		display: block;
		font-size: 0.9em;
		font-weight: 700;
		margin: 0 0 1.125em 0;
	}

	input::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		border-radius: 5px;
		border: none;
		border: solid 2px #e4e4e4;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 90%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		select:focus,
		textarea:focus {
			border-color: #D980FA;
		}

	select {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23e4e4e4' /%3E%3C/svg%3E");
		background-size: 1.25em;
		background-repeat: no-repeat;
		background-position: calc(100% - 1em) center;
		height: 2.75em;
		padding-right: 2.75em;
		text-overflow: ellipsis;
	}

		select option {
			color: #777;
			background: #fff;
		}

		select:focus::-ms-value {
			background-color: transparent;
		}

		select::-ms-expand {
			display: none;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 2.75em;
	}

	textarea {
		padding: 0.75em 1em;
	}

	input[type="checkbox"],
	input[type="radio"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		display: block;
		float: left;
		margin-right: -2em;
		opacity: 0;
		width: 1em;
		z-index: -1;
	}

		input[type="checkbox"] + label,
		input[type="radio"] + label {
			text-decoration: none;
			color: #888;
			cursor: pointer;
			display: inline-block;
			font-size: 1em;
			font-weight: 400;
			padding-left: 2.4em;
			padding-right: 0.75em;
			position: relative;
		}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				background: #fafafa;
				border-radius: 5px;
				border: solid 2px #e4e4e4;
				content: '';
				display: inline-block;
				height: 1.65em;
				left: 0;
				line-height: 1.58125em;
				position: absolute;
				text-align: center;
				top: 0;
				width: 1.65em;
			}

		input[type="checkbox"]:checked + label:before,
		input[type="radio"]:checked + label:before {
			background: #989898;
			border-color: #989898;
			color: #ffffff;
			content: '\f00c';
		}

		input[type="checkbox"]:focus + label:before,
		input[type="radio"]:focus + label:before {
			border-color: #D980FA;
		}

	input[type="checkbox"] + label:before {
		border-radius: 5px;
	}

	input[type="radio"] + label:before {
		border-radius: 100%;
	}

	::-webkit-input-placeholder {
		color: #aaa !important;
		font-style: italic;
		opacity: 1.0;
	}

	:-moz-placeholder {
		color: #aaa !important;
		font-style: italic;
		opacity: 1.0;
	}

	::-moz-placeholder {
		color: #aaa !important;
		font-style: italic;
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		color: #aaa !important;
		font-style: italic;
		opacity: 1.0;
	}