body {
	background: url("../images/bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
	font-family: 'Open Sans', sans-serif;
	color: #555;
}

@media only screen and (min-width : 300px) and (max-width : 500px) {
	html, body {
    	height: 100%;
	}
	html {
	    overflow-y: hidden;
	}
	body {
	    overflow-y: scroll;
	}
	body {
	    background: url("../images/bg2.png") no-repeat center;
	    background-size: cover;
	}
}

#fixedbg {
	text-decoration: none;
	letter-spacing: 0px;
	line-height: 1;
	text-shadow: #EDEDED 2px 1px 0;
	position: relative;
}


.navbar-brand,
.navbar-nav li a {
    width: 100%;
    padding-top: 0;
    font-size: 18px;
    font-weight: bold;
}

.navbar img {
	height: 100px;
}

footer {
    position: fixed;
    height: 1rem;
    bottom: 0;
    width: 100%;
}

.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:20px;
	right:10px;	
}

.scroll {
	position:absolute;
	float:left;
	left:15px;
	bottom:50px;
	background:#b2b2b2;
	background:rgba(178,178,178,0.7);
	padding:20px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
	z-index: 2;
}

.scroll:hover {
	background:rgba(178,178,178,1.0);
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}

.scroll:hover .fa {
	padding-top:-10px;
}

.scroll .fa {
	font-size:30px;
	margin-top:-5px;
	margin-left:1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}

.inquirebutton {
	position: relative;
	bottom: 40px;
}

.btn-blessed { 
  color: #ffffff; 
  background-color: #C8629B; 
  border-color: #C23B88; 
} 
 
.btn-blessed:hover, 
.btn-blessed:focus, 
.btn-blessed:active, 
.btn-blessed.active, 
.open .dropdown-toggle.btn-blessed { 
  color: #ffffff; 
  background-color: #CC477E; 
  border-color: #C23B88; 
} 
 
.btn-blessed:active, 
.btn-blessed.active, 
.open .dropdown-toggle.btn-blessed { 
  background-image: none; 
} 
 
.btn-blessed.disabled, 
.btn-blessed[disabled], 
fieldset[disabled] .btn-blessed, 
.btn-blessed.disabled:hover, 
.btn-blessed[disabled]:hover, 
fieldset[disabled] .btn-blessed:hover, 
.btn-blessed.disabled:focus, 
.btn-blessed[disabled]:focus, 
fieldset[disabled] .btn-blessed:focus, 
.btn-blessed.disabled:active, 
.btn-blessed[disabled]:active, 
fieldset[disabled] .btn-blessed:active, 
.btn-blessed.disabled.active, 
.btn-blessed[disabled].active, 
fieldset[disabled] .btn-blessed.active { 
  background-color: #C8629B; 
  border-color: #C23B88; 
} 
 
.btn-blessed .badge { 
  color: #C8629B; 
  background-color: #ffffff; 
}

#tagline {
  font-family: 'Open Sans', sans-serif;
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative;
}

.corner-link {
  -webkit-transform: rotate(-45deg);  
     -moz-transform: rotate(-45deg); 
      -ms-transform: rotate(-45deg); 
       -o-transform: rotate(-45deg); 
          transform: rotate(-45deg);
  -webkit-transform-origin: 0 0;
     -moz-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
       -o-transform-origin: 0 0;
          transform-origin: 0 0;
    right: 0;
    top: 0;
    display: block;
    height: 150px;
    position: absolute;
    width: 100px;
}
.corner-text-wrapper {
  -webkit-transform: rotate(45deg);  
     -moz-transform: rotate(45deg);  
      -ms-transform: rotate(45deg);  
       -o-transform: rotate(45deg);  
          transform: rotate(45deg);
    clip: rect(0px, 141.421px, 70.7107px, 0px);
    height: 141.421px;
    position: absolute;
    right: -20.7107px;
    top: -20.7107px;
    width: 141.421px;
}
.corner-text {
  color: white;
 -webkit-transform: rotate(-45deg);  
     -moz-transform: rotate(-45deg); 
      -ms-transform: rotate(-45deg); 
       -o-transform: rotate(-45deg); 
          transform: rotate(-45deg);
    left: 20px;
    top: 20px;
    background-color: #e74c3c;
    display: block;
    height: 100px;
    position: absolute;
    width: 100px;
}
.corner-text span {
  position: relative;
  font-family: "HelveticaNeue-CondensedBold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-shadow: #EDEDED 0px 0px 0;
  font-weight: 700;
  top: -185px;
  left: 10px;
  display: block;
  text-align: center;
  top: 10px;
}

.services_ul, li {
	list-style-type: none;
	margin: 0 0 5px 0;
}
